:root {
  --main-color: rgb(29, 138, 110);
  --main-color-lighter: rgb(45, 206, 166);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d2026;
  font-family: 'poppins', sans-serif;
}

p, a, h1 {
  color: #FFF;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1368px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.header {
  width: 100%;
  height: 4rem;
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  width: 130px;
}

.menu {
  width: 25px;
  margin-right: .5rem;
}

.header__logo {
  display: flex;
  align-items: center;
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  transition: .3s;
  width: 70%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 1rem 0 0 1rem;
  padding: 6rem 0 0 3rem;
  z-index: 100;
}

.open-nav {
  right: 0;
}

.nav__item {
  margin-bottom: 1rem;
}

.nav__item:hover {
  color: var(--main-color-lighter);
}

.nav__item a:hover {
  color: #2dcea6;
  transition: .3s;
}

.nav__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}

.nav__close:hover {
  color: var(--main-color-lighter);
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 100%;
}

.header__button {
  width: 60px;
  height: 30px;
  background-color: #efefef;
  border-radius: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.header__button span {
  display: block;
  background-color: rgb(167, 167, 167);
  width: 26px;
  height: 26px;
  border-radius: 26px;
  margin-left: .15rem;
  transition: .5s;
}

.active {
  background-color: var(--main-color);
}

.active span {
  background-color: #FFF;
  margin-left: 30px;
}

.header__toggle {
  display: inline-flex;
  font-size: 2.25rem;
  color: #FFF;
  cursor: pointer;
}

.header__toggle:hover {
  color: var(--main-color);
}

.home__lamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.lamp__img {
  width: 30%;
  margin-left: .5rem;
}

.light__img {
  width: 100%;
  opacity: 0;
  transition: .3s;
}

.on {
  opacity: 1;
}

.title {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 500;
}

.description {
  margin-bottom: 1rem;
}

.button__home {
  background-color: rgb(29, 138, 110);
  border: none;
  color: #FFF;
  font-size: .9rem;
  width: 200px;
  height: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.button__home:hover {
  background-color: var(--main-color-lighter);
  transition: .3s;
}

@media screen and (min-width: 400px) {
  .home__lamp {
    width: 370px;
  }
}

@media screen and (min-width: 568px) {
  
}

@media screen and (min-width: 768px) {
  .nav {
    position: static;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
  }

  .nav__item {
    margin: 0;
  }

  .header__buttons {
    width: 60px;
  }

  .header__toggle, .nav__close {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .home__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home__lamp {
    width: 50%;
  }

  .lamp__img {
    margin-left: .8rem;
  }

  .home__content {
    width: 50%;
  }

  .title {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 968px) {
  .nav {
    width: 600px;
  }
}

@media screen and (min-width: 1168px) {
  .lamp__img {
    margin-left: 1.25rem;
  }
}

@media screen and (min-width: 1368px) {
  .container {
    margin: auto;
  }

  .title {
    font-size: 4.5rem;
  }
}
